<%= link_to "Add item ",new_category_subcategory_item_path() %><br>
<table>
	<tr>
		<th><font size="4">name</th></font>
		<th><font size="4">price</th></font>
		<th><font size="4">description</th></font>
	</tr>
    <% @items.each do |item| %>
    <tr>
        <td> <%=  item.name %> </td>
        <td> <%= item.price %> </td>
        <td><%= item.description %></td>
    </tr><br>
    <%end%>
<table>       
