<div class = "corner">
<h3> Search Results </h3>
<%if @results.empty? %>
<h3> No Results Found</h3>
<% else %>
<% @results.each do |result| %>
<%= link_to result.name, category_subcategory_item_path(category_id: params[:cat_id], subcategory_id: params[:sub_id], :id => result.id ) %><br>
<% end %>
<% end %>
</div>