/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 @import "bootstrap";
body {
 background-color: blue;
 font-family: verdana, arial, helvetica, sans-serif;
 font-size: 13px;
 font-color: white;
 line-height: 18px;
 background: url('3.jpg');
 background-repeat: no-repeat;
 background-size: 100%;
}
a {
color: yellow ;
font-size: 20px;
}
.corner{
	position:relative;  
	bottom:0; 
	margin-bottom:7px; 
	margin:7px;
}
 